.my-style {
  background-color:#F2D8D8;
  color:#374259;
  font-family: "Dubai Medium" ;
  border: 3px solid #374259;
  line-height: 2cm;
  text-align: center;

}
.my-style1 {
  background-color:#47A992;
  color:#482121;
  font-family:"Arial" ;

}
